<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/public/css/register.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/all.min.css">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/all.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">STUDY CAMP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Khóa học
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Ngoại ngữ</a></li>
              <li><a class="dropdown-item" href="#">Đồ họa và hình ảnh</a></li>
              <li><a class="dropdown-item" href="/courses">Lập trình</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discuss">Thảo luận</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tuyển dụng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
        </ul>
        <form action="/search" method="GET" class="d-flex" id="searchForm">
          <input class="form-control me-2" type="search" name="language" placeholder="Ví dụ: Java,Python,..."
            aria-label="Search" required>
          <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <% if(!currentUser) { %>
            <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user"></i></a></li>
            <% } else { %>
              <li class="nav-item"><div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Xin chào <%= user.username %> ! 
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/manage_account">Quản lý tài khoản</a></li>
                  <li><a class="dropdown-item" href="#">Danh sách yêu thích</a></li>
                  <li><a class="dropdown-item" href="http://localhost:3000/">Trò chuyện</a></li>
                  <li><form action="/logout" method="post"><button type="submit" class="dropdown-item">Đăng xuất</button></form></li>
                </ul>
              </div></li>
              <% } %>           
          <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-heart"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>